<section class="user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">Нет аккаунта?</h2>
        <p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
      </div>
    </div>
  

    
    <div class="user_options" id="user_options">
      <div class="user_login">
        <h2 class="forms_title">Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="text"  placeholder="User Name" formControlName="username" class="forms_field-input" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required autofocus />     
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
           </div>
            <div class="forms_field">
              <input type="password" formControlName="password" placeholder="Password" class="forms_field-input" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            </div>
          </fieldset>
          <div class="forms_buttons">
            <input type="submit" value="Sign Up" class="forms_buttons-action">
          </div>
        </form>
      </div>
      <div class="user_forms-signup">
      </div>
    </div>
  
  
  </div>
</section>
<router-outlet></router-outlet>