.wrap {
    padding: 10px;
    height: 150px;
    position: relative;
    background: #e7e6d4;
    text-align: right;
    border: 3px dashed #645a4e;
  }
  .white {
    position: absolute; 
    width: 200px;
    top: 10px; 
    left: 10px;
    padding: 10px;
    background: #ffffff; 
    border: 3px dashed #312a22;
  }